// COLORS:

$color-black : #000;
$color-white: #fff;

$color-grey-dark : #1f2030;
$color-grey-dark-2 : #47485c;
$color-grey: #818da0; 
$color-grey-light: #EDF2F4;

$color-red-light: #EF233C;
$color-red: #D90429;

$color-orange-light : #f48c06;
$color-orange : #e85d04;
$color-orange-dark : #dc2f02;

$color-blue-light : #76b3ec;
$color-blue : #569be6;
$color-blue-dark : #3967ca;

$color-green-light : #aacc00;
$color-green : #80b918;
$color-green-dark : #55a630;

$color-yellow-light : #ffea00;
$color-yellow : #ffdd00;
$color-yellow-dark : #ffd000;

$color-basic-light : #f8edeb;
$color-basic :#f9dcc4;
$color-basic-dark :#fec89a;


//LAYOUT:
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal-big: 10rem;
$gutter-horizontal-medium: 6rem;
$gutter-horizontal-small: 3rem;

$footer-nav-phone: 50%;

//fonts
$default-font-size: 1.6rem;