.search-box{
    font-size: 3rem;
    color: $color-grey-light;
    position: relative;

    &__label{
        justify-self: right;
        font-weight: 700;

        text-shadow: 0 2px 2px rgba($color-black,0.4);
    }

    &__select{
        font-family: inherit;
        font-size: 2rem;
        padding: 1rem;
        color: inherit;
        border:none;
        border-radius: 4px;
        box-shadow: 0 1rem 2rem rgba($color-black,0.5);
        background-color: $color-grey-dark-2;
        outline: none;

        &:focus{
            border: 1px solid $color-grey-light;
        }

    }

    &__input-box{
        position: relative;
        
    }
    &__input{
        &,&:valid{
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background-color: $color-grey-dark-2;
            
            padding: 1rem;
            border-radius: 4px;
            border: 1px solid $color-grey;
            box-shadow: 0 1rem 2rem rgba($color-black,0.5);
            outline: none;
            transform: scale(0.95);
            transition: all .2s;
        }
        
        &:focus{
            box-shadow: 0 1rem 3.5rem rgba($color-black,0.5);
            transform: scale(1);
        }

        &::placeholder{
            color: inherit;
        }

        &:invalid{
            color: $color-red;
        }
    }

    &__clear-btn{
        display:inline-block;
        width: 2rem;
        height: 2rem;
        background-color: $color-grey-light;
        border-radius: 50%;
        border: none;
        outline:none;

        position: absolute;
        z-index: 10;
        top:50%;
        right:1.5rem;
        transform: translateY(-50%);
        transition: all .3s;

        &:hover{
            box-shadow: 0 .5rem 1rem rgba($color-black,0.3);
        }
    }

    &__input:focus + &__clear-btn{
        transform: translateY(-50%) translateX(25%) scale(1.1);

    }


}